:root {
  --backgroundColor: #0b0c10;
  --secondBackgroundColor: #1f2833;
  --textColor: #c5c6c7;
  --headlinesColor: #66fcf1;
  --subHeadlinesColor: #45a29e;
}

.lightmode {
  --backgroundColor: #66ccfc;
  --secondBackgroundColor: #c5c6c7;
  --textColor: #0b0c10;
  --headlinesColor: #1f2833;
  --subHeadlinesColor: #2e7a77;
}

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'special gothic', 'Arial', sans-serif;
}

body {
  width: 100%;
  background-color: var(--backgroundColor);
  background-image: url(/ressources/images/pexels-francesco-ungaro-998641.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 82px;
  display: flex;
  justify-content: center;
}

nav {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

header a {
  color: var(--textColor);
  text-decoration: none;
  font-size: 1.2rem;
}

nav div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

nav ul {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}

nav li {
  list-style: none;
  font-weight: bold;
  font-size: 1.2rem;
}

nav ul a {
  text-decoration: none;
  color: var(--textColor);
}

header .language {
  padding: 100px;
}

header .mode {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

main {
  position: relative;
  top: 50px;
}

.mainLeft {
  position: fixed;
  top: 50px;
  float: left;
  width: 40%;
}

.mainContentLeft h1 {
  font-family: "special gothic expanded one";
  font-size: 3rem;
  color: var(--headlinesColor);
  margin-bottom: 1rem;
}

.mainContentLeft h2 {
  font-size: 1.5rem;
  color: var(--subHeadlinesColor);
}

.mainContentLeft h3 {
  font-size: 1rem;
  color: var(--subHeadlinesColor);
}

.mainRight {
  width: 60%;
  float: right;
}

.mainContentLeft {
  margin: 5rem 2rem 0 5rem;
}

.mainContentRight {
  margin: 5rem 5rem 0 2 rem;
}